@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Tiptap placeholder */
.tiptap p.is-editor-empty:first-child::before {
  color: #94a3b8;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Tiptap focus */
.tiptap:focus {
  outline: none;
}

/* Smooth scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0 transparent;
}
